extends ../layout

block content
  section#booklist
    h2 Books I've Read
    each book in books
      div(class='abook')
        figure
          a(href=book.pageUrl)= book.title + 'by: ' + book.author
            img(src=book.imageUrl)
        h2= book.title
        small
          p date read: #{book.dateRead}
          p rating: #{book.rating}/10
          p= book.summary

